* {
  	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

a {
    color: #1f8dd6;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.is-center {
    text-align: center;
}



.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}




/* This is the main heading that appears on the blue section */


/* This is the subheading that appears on the blue section */


.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
    text-decoration: none;
}


.home {
	display: inline;
	
	background-color: #2b2b2b;
	font-family: "Montserrat"; 
	color: black;
	
}

.home img {
	float: left;
	width: 40%;
	padding: 25px;
	border-radius: 100%;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.pure-menu-item ul{
    list-style: none;
}


.pure-menu-item li{
    display: inline;
}

.header {
    background-color: #2b2b2b;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: inline;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px;
    
}

.logo {
    width: auto;
    height: 50px;
    margin: 10px;
    margin-left: 20px;
}

.header nav {
    position: sticky;
    top: 0;
    right: 0;
    
    display: flex;
    margin-right: 10px;
    padding: 10px;
    justify-content: space-between;
    
}

.header-button {
    background-color: white;
    border-radius: 10%;
    margin: 0 2%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.page {
    display: flex;
    position: absolute;
    top: 70px;
    flex-direction: column;
    width: 100%;
    background-color: dimgrey;
}



.content {
    position: relative;
    display: flex;
    margin: 3em 5em;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.75);

    
}


.project {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 2em;
    
    
    
}



.project-text {
    font-size: 2em;
    font-weight: bold;
}

.github-button {
    
    padding: 5px;
    background-color: white;
    border-radius: 10%;
    border: lightblue 5px solid;
    text-decoration: none;
    background-color: white;
    -webkit-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    
    
}

.content img {
    width: 20em;
    height: 20em;
    border: black 5px solid;
    margin: 1em 2em;
}


.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
}

.font {
    color: #2b2b2b;
    font-family: "Montserrat"; 
}

.l-box {
    padding: 1em;
}
.is-center {
    text-align: center;
}


.footer {
    background: #111;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
}




@media (max-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }


    
    .intro {
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    
    .project {
        flex-direction: column;
        align-items: center;
    }
    


}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
}
     
