* {
  	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

a {
    color: #ffffff;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.is-center {
    text-align: center;
}

.page {
    display: flex;
    position: absolute;
    top: 70px;
    flex-direction: column;
    width: 100%;    
}



.content {
    position: relative;
    display: flex;
    margin: 3em 5em;
    flex-direction: column;
    align-items: center;
    background-color: #232a3a;
    -webkit-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 4px 4px rgba(0,0,0,0.75);
    
    
}


.project {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2em;
    
    
}

.project-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



.project-text {
    font-size: 2em;
    width: 100%;
    height: 7em;
}

.github-button {
    color: #FFA041 !important;
    padding: 1vh;
    border: #FFA041 5px solid;
    text-decoration: none;
    background-color: #404d6a;
    -webkit-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    align-content: center;
    display: flex;
    width: 6em;
    justify-content: center;  
    margin: 1vw;
}


.github-button img {
    height: 4vh;
    margin-right: 0.5vw;
}

.project-image {
    min-height: 5em;
    width: auto;
    height: 20em;
    border-radius: 100%;
    margin: 0em 2em;
    border: 5px white solid;
    box-shadow: 0 5px 5px rgba(0,0,0,0.75); 
}


.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
}

.font {
    color: white;
    font-family: "Montserrat"; 
}

.l-box {
    padding: 1em;
}
.is-center {
    text-align: center;
}


.footer {
    background: #111;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
}



@media (max-width: 60em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    
    .intro {
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    
    
    .project {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    
    
    .project-title {
        flex-direction: column;
        align-items: center;
    }
    


}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
}
     
