* {
  	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

a {
    color: #ffffff;
}



.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.is-center {
    text-align: center;
}

.page {
    display: flex;
    position: absolute;
    top: 70px;
    flex-direction: column;
    width: 100%;    
}



.content {
    position: relative;
    display: flex;
    margin: 5vh 5vw;
    flex-direction: column;
    align-items: center;
    background-color: #232a3a;
    -webkit-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 4px 4px rgba(0,0,0,0.75);
    align-content: space-between;
    padding: 3vh 1vw;
}


.project {
    display: flex;
    
    width: 100%;
    height: auto;
    margin: 1vh;
    flex: 1;
    padding: 1vw;
    
    
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.project-title h1 {
    font-size: 4vw;
    margin: 2vh 0vh;
}



.project-text {
    width: 100%;
    flex: 1;
    
}

.project-text p {
    margin-top: 1vh;
}

.github-button {
    color: #FFA041 !important;
    padding: 1vh;
    border: #FFA041 5px solid;
    text-decoration: none;
    background-color: #404d6a;
    -webkit-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.75);
    align-items: center;
    display: flex;
    
    justify-content: center;  
    margin: 1vh 2vw;
    font-size: 2em !important;
    font-weight: bolder !important;
}


.github-button img {
    height: 4vw;
    margin-right: 0.7vw;
}

.project-image {
    height: 25vw;
    

    border-radius: 100%;
    margin: 0em 2vw;
    border: 5px white solid;
    box-shadow: 0 5px 5px rgba(0,0,0,0.75); 
}


.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
}

.font {
    color: white;
    font-family: "Montserrat"; 
    font-size: 2em;
}

.l-box {
    padding: 1em;
}
.is-center {
    text-align: center;
}


.footer {
    background: #111;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1vh;
    text-align: center;
    color: white;
    font-size: 1em;
}



@media (max-width: 50em) {

    /* We increase the body font size */
    
    
    .intro {
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    
    .content {
        margin: 5vw;
        
    }
    
    .project-title h1 {
        font-size: 10vw;
    }
    
    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    
    .project-text {
        font-size: 2vw;
    }
    
    .github-button {
        font-size: 2em !important;
        
    }
    
    .project-image {
        width: 80%;
        height: auto;
        max-height: 30em;
        max-width: 30em;
        
    }
    
    .github-button img {
        height: 5vw;
        
    }
    
    .project-title {
        flex-direction: column;
        align-items: center;
    }
    


}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
}
     
